// #home {
//     position: relative;
//     background: url('../../assets/bgIMG.png');
//     background-size: cover;
//     background-repeat: repeat;
//     background-position: center;

//     .app__wrapper {
//         padding: 0;

//         .copyright {
//             display: none;
//         }
//     }
// }

// .app__header {
//     flex: 1;
//     width: 100%;
//     height: 100%;
//     // border: 2px solid green;
//     flex-direction: row;
//     padding: 6rem 2rem 0;

//     @media screen and (min-width: 2000px) {
//         padding-top: 8rem;
//     }

//     @media screen and (max-width: 1200px) {
//         flex-direction: column;
//     }

//     @media screen and (min-width: 2000px) {
//         padding-top: 8rem;
//     }

//     @media screen and (max-width: 1200px) {
//         flex-direction: column;
//     }

//     @media screen and (min-width: 450px) {
//         padding: 6rem 1rem 2rem;
//     }
// }

// .app__header-info {
//     flex: 0.65;
//     display: flex;
//     // border: 2px solid gold;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-start;
//     height: 100%;

//     margin: 0 2rem;

//     @media screen and (max-width: 2000px) {
//         width: 100%;
//         margin-right: 0rem;
//     }
// }

// .app__header-badge {
//     // border: 2px solid goldenrod;
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     flex-direction: column;

//     .badge-cmp, .tag-cmp {
//         padding: 1rem 2rem;
//         border: var(--white-color);
//         border-radius: 15px;
//         flex-direction: row;
//         width: auto;

//         box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
//     }

//     .tag-cmp {
//         flex-direction: column;
//         margin-top: 3rem;

//         p {
//             width: 100%;
//             text-transform: uppercase;
//             text-align: center;

//         }
//     }

//     span {
//         font-size: 2.5rem;

//         @media screen and (min-width: 2000px) {
//             font-size: 5rem;
//         }
//     }

//     @media screen and (max-width: 1200px) {
//         justify-content: flex-start;
//         align-items: flex-start;
//     }
// }

// .app__header-circles {
//     flex: 0.75;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     align-items: flex-start;
//     height: 100%;
//     // border: 2px solid blue;
//     margin-left: 1rem;


//     div {
//         width: 100px;
//         height: 100px;
//         border-radius: 50%;

//         background: var(--white-color);
//         box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

//         img {
//             width: 60%;
//             height: 60%;
//         }
//     }

//     div:nth-child(1) {
//         width: 100px;
//         height: 100px;
//     }

//     div:nth-child(2) {
//         margin: 1.75rem;
//         width: 150px;
//         height: 150px;
//     }

//     div:nth-child(3) {
//         width: 70px;
//         height: 70px;
//     }

//     @media screen and (min-width: 2000px) {
//         div:nth-child(1) {
//             width: 400px;
//             height: 400px;
//         }
    
//         div:nth-child(2) {
//             margin: 1.75rem;
//             width: 170px;
//             height: 170px;
//         }
    
//         div:nth-child(3) {
//             width: 200px;
//             height: 200px;
//         }
//     }

//     @media screen and (max-width: 1200px) {
//         width: 100%;
//         flex-direction: row;
//         flex-wrap: wrap;
//         margin-left: 0;

//         div {
//             margin: 1rem;

//         }
//     }
// }

// .app__header-img {
//     flex: 1;
//     height: 100%;

//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     position: relative;
//     border: 2px solid black;

//     img {
//         width: 100%;
//         object-fit: contain;
//         z-index: 1;

//     }

//     .overlay_circle {
//         position: absolute;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         z-index: 0;
//         width: 100%;
//         height: 90%;
//     }

//     @media screen and (max-width: 1200px) {
//         margin: 2rem 0;

//     }
// }

.makosail__header {
    display: flex;
}

.makosail__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.makosail__header-content h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;

    font-style: normal;
    font-size: 3.875em;
    line-height: 75px;
    letter-spacing: -0.04em;

    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.makosail__header-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 27px;
    color: #81AFDD;
    margin-top: 1.5rem;
}

.makosail__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.makosail__header-content__input input {
    flex: 2;
    width: 100%;
    background: var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    line-height: 27px;
    min-height: 50px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.makosail__header-content__input button {
    flex: 0.5;
    width: 100%;
    min-height: 50px;
    background: #FF4820;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;

}

.makosail__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}

.makosail__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.makosail__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}

.makosail__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.makosail__header-image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media screen and (max-width: 1050px) {
    .makosail__header {
        flex-direction: column;
    }

    .makosail__header-content {
        margin: 0 0 3rem;
      }
}

@media screen and (max-width: 782px) {
    .makosail__header-content__input input, 
    .makosail__header-content__input button {
        font-size: 0.9em;
        line-height: 1em;
    }
}

@media screen and (max-width: 650px) {
    .makosail__header h1{
        font-size: 2.5em;
    }

    .makosail__header p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .makosail__header-content__people {
        flex-direction: column;
    }

    .makosail__header-content__people p {
        margin: 0;
    }

    .makosail__header-content__input input, 
    .makosail__header-content__input button {
        font-size: 0.75em;
        line-height: 1em;
    }
}

@media screen and (max-width: 490px) {
    .makosail__header h1 {
        font-size: 2.25em;
    }

    .makosail__header p {
        font-size: 1em;
    }

    .makosail__header-content__input input, 
    .makosail__header-content__input button {
        font-size: 0.75em;
        line-height: 1em;
    }
}
