.makosail__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.makosail__features-container__feature-title {
    flex: 1;
    max-width: 280px;
    margin-right: 2rem;
}

.makosail__features-container__feature-title h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.makosail__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
}

.makosail__features-container__feature-text {
    flex: 2;
    max-width: 690px;
    display: flex;
}

.makosail__features-container__feature-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.875rem;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .makosail__features-container__feature-title h1 {
        font-size: 1.2rem;
        line-height: 1.375rem;
    }

    .makosail__features-container__feature-title p {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    .makosail__features-container__feature {
        margin: 1rem 0;
    }
}
