.app {
    font-family: var(--font-base);
}

  
.app__container {
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    flex-direction: row;
}
  
.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
  
    @media screen and (max-width: 450px) {
      padding: 4rem 1rem 2rem;
  }
}
  
.copyright {
    width: 100%;
    padding: 2rem 0 0;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  
    p {
      text-transform: uppercase;
      color: var(--black-color);
  }
}
  
.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;
  
    span {
      color: var(--secondary-color);
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
}
  
//   .p-text {
//     font-size: 0.8rem;
//     text-align: left;
//     color: var(--gray-color);
//     line-height: 1.5;
  
//     @media screen and (min-width: 2000px) {
//       font-size: 1.75rem;
//     }
// }
  
// .bold-text {
//     font-size: 1rem;
//     font-weight: 800;
//     color: var(--black-color);
//     text-align: left;
  
//     @media screen and (min-width: 2000px) {
//       font-size: 2rem;
//     }
  
//     @media screen and (max-width: 450px) {
//       font-size: 0.9rem;
//     }
// }
  
// .app__social {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
  
//     padding: 1rem;
  
//     div {
//       width: 40px;
//       height: 40px;
//       border-radius: 50%;
//       background-color: var(--white-color);
//       margin: 0.25rem 0;
//       border: 1px solid var(--lightGray-color);
  
//       display: flex;
//       justify-content: center;
//       align-items: center;
  
//       transition: all 0.3s ease-in-out;
  
//       svg {
//         width: 15px;
//         height: 15px;
//         color: var(--gray-color);
//       }
  
//       &:hover {
//         background-color: var(--secondary-color);
//         border-color: var(--secondary-color);
  
//         svg {
//           color: var(--white-color);
//         }
//        }
  
//       @media screen and (min-width: 2000px) {
//         width: 70px;
//         height: 70px;
  
//         margin: 0.5rem 0;
  
//         svg {
//           width: 30px;
//           height: 30px;
//       }
//     }
//   }
// }
  
// .app__navigation {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
  
//     padding: 1rem;
  
//     .app__navigation-dot {
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       background-color: #cbcbcb;
//       margin: 0.5rem;
  
//       transition: background-color 0.2s ease-in-out;
  
//       &:hover {
//         background-color: var(--secondary-color);
//       }
  
//       @media screen and (min-width: 2000px) {
//         width: 20px;
//         height: 20px;
//       }
//     }
// }
  
// @media screen and (max-width: 500px) {
//     .app__navigation,
//     .app__social {
//       display: none;
//   }
  
//     .copyright {
//       padding: 2rem;
//   }
// }

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 3rem 6rem;
}

.section__margin {
  margin: 3rem 6rem;
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
  
    span {
      text-align: center;
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	animation: flip-scale-up-hor 0.5s linear both;
}

 @-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem 6rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}


